
* {
    position: relative;
    background:#666A86;
    font-family: Calibri;
  }



.row{
    
    clear:both;
    content:"";
    display: table;
    width:449px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #999; */
    /* border-radius: 30%;  */
}

.status{
    text-align:center;
    font-size: 50px;
    font-weight:bold;
    margin-top:80px;
    margin-bottom:80px;
    color:#92B6B1;
    
    
}

.start{
    
    margin-top:200px;
    border: 2px solid;
    font-size:40px;
    border-radius: 10px;
}

.start_background{
    
    border: 2px solid #999;
     
    position:absolute; top:50%; left:50%;
    background: #B2C9AB;
    opacity: 0.7;
    width:445px;
    height:445px;
    margin-left: -225px;
    margin-top: -154px;
    
  
}

