.square{
    background: #E8DDB5;
    opacity: 0.8;
    border: 2px solid #999; 
    float: left;
    font-size: 70px;
    color: #788AA3;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
    
}

